@model QBox.Web.Models.QuizQuestionViewModel
@{
    ViewBag.Title = "Quiz Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
<div class="col-md-8">
    <section id="questionForm">
        @using (Html.BeginForm("PostAnswer", "Question", FormMethod.Post, new { role = "form" }))
        {
            <h4>Question @Model.QuestionNr of @Model.QuestionsTotalNr in category @Model.Category:</h4>
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.QuestionNr)
            @Html.HiddenFor(m => m.QuestionsTotalNr)
            @Html.HiddenFor(m => m.GameId)
            @Html.HiddenFor(m => m.Category)

            <div class="form-group">
                <div class="well">
                    @Html.LabelFor(m => m.SelectedAnswer, @Model.Question)

                    @foreach (var a in Model.Answers)
                    {
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(m => m.SelectedAnswer, a.Id)
                                @Html.Label(a.Id.ToString(), a.AnswerText)
                            </label>
                        </div>
                    }

                    @Html.ValidationMessageFor(m => m.SelectedAnswer)

                    <button type="submit" class="btn btn-default btn-question">Answer</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        }
    </section>
</div>
</div>

